# Config file for automatic testing at travis-ci.org

language: python

python:
  - "3.6"
  - "3.5"
  - "3.4"
  - "2.7"

before_install:
  - pip install -r requirements-dev.txt

install:
  - python setup.py install
  - pip install codecov==2.0.5

script:
  - flake8 --statistics tests crimson
  - py.test --cov --cov-config=.coveragerc --cov-report=term-missing tests crimson

after_success:
  - codecov
