include CHANGELOG.rst
include LICENSE
include README.rst
include requirements.txt
include requirements-dev.txt
include versioneer.py
include crimson/_version.py

recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
